In [12]:
 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import silhouette_score

In [2]:
df = pd.read_parquet('./cleaned.parquet')

In [3]:
df

,actualdpdtolerance_344P,amtinstpaidbefduel24m_4187115A,annuity_780A,annuitynextmonth_57A,applicationcnt_361L,applications30d_658L,applicationscnt_1086L,applicationscnt_464L,applicationscnt_629L,applicationscnt_867L,...,numactivecreds_622L,numactivecredschannel_414L,numactiverelcontr_750L,numcontrs3months_479L,numnotactivated_1143L,numpmtchanneldd_318L,numrejects9m_859L,previouscontdistrict_112M,sellerplacecnt_915L,sellerplacescnt_216L
case_id,,,,,,,,,,,,,,,,,,,,,
0,0.054391,50692.545111,1917.6,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,a55475b1,0.0,0.0
1,0.054391,50692.545111,3134.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,a55475b1,0.0,0.0
2,0.054391,50692.545111,4937.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,a55475b1,0.0,0.0
3,0.054391,50692.545111,4643.6,0.0000,0.0,1.0,0.0,2.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,a55475b1,1.0,1.0
4,0.054391,50692.545111,3390.2,0.0000,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,a55475b1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2651088,0.000000,117624.790000,3045.0,4488.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,P178_112_160,0.0,0.0
2651089,0.000000,134887.400000,1200.0,4382.8003,0.0,0.0,0.0,0.0,0.0,11.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,P173_115_85,0.0,10.0
2651090,0.000000,69186.620000,6000.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,P178_112_160,0.0,0.0
2651091,0.000000,117331.000000,11565.4,13781.2000,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,P121_97_69,0.0,2.0
2651092,0.000000,44442.200000,3045.0,3000.0000,0.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,P147_21_170,1.0,5.0

In [4]:
df.iloc[:, [1, 2]]

         amtinstpaidbefduel24m_4187115A  annuity_780A
case_id
0                          50692.545111        1917.6
1                          50692.545111        3134.0
2                          50692.545111        4937.0
3                          50692.545111        4643.6
4                          50692.545111        3390.2
...                                 ...           ...
2651088                   117624.790000        3045.0
2651089                   134887.400000        1200.0
2651090                    69186.620000        6000.0
2651091                   117331.000000       11565.4
2651092                    44442.200000        3045.0

[1003757 rows x 2 columns]

In [7]:
num_columns = df.select_dtypes(include=['int', 'float']).columns

In [14]:
scaler = preprocessing.StandardScaler()

In [15]:
df[num_columns] = scaler.fit_transform(df[num_columns])

In [20]:
df=df[num_columns]

In [42]:
df_x = df.sample(n=5000)

In [18]:
def cluster_agg(df, k, metric_affinity):
    cluster_model = AgglomerativeClustering(n_clusters=k,
                                            affinity=metric_affinity,
                                            linkage='average')
 
    clusters = cluster_model.fit_predict(df)
 
    score = silhouette_score(df,
                             cluster_model.labels_,
                             metric='euclidean')
    return clusters, score

In [54]:
y_hd_euclidean, euclidean_score_hd = cluster_agg(df_x, 100, 'euclidean')
euclidean_score_hd

C:\Users\Dulshan\PycharmProjects\jupyter\.venv\lib\site-packages\sklearn\cluster\_agglomerative.py:983: FutureWarning: Attribute `affinity` was deprecated in version 1.2 and will be removed in 1.4. Use `metric` instead
  warnings.warn(

0.34064584740334486

In [55]:
euclidean_score_hd

0.34064584740334486

In [56]:
pd.DataFrame(data=y_hd_euclidean).value_counts()

1     4540
11      77
6       61
5       41
9       23
      ...
61       1
63       1
65       1
66       1
99       1
Length: 100, dtype: int64