#### Model testing - Tharaka
Plan to do the following in this notebook
- Load the data
    - Separate labels and features
    - Drop the unwanted columns like date and week
    - Null fill the remaining columns with a suitable method
- Do PCA on the dataset
- Split the data into Test and Train
- Deal with the class imbalance in the training set
- Apply the following models
    - Random Forest
    - XGBoost

In [11]:
import pandas as pd
import numpy as np
from collections import Counter
from sklearn.model_selection import train_test_split 

from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

from imblearn.over_sampling import SMOTE

Loading the data

> Todo: Use Isuru's post-processed data here. Until then, just use numerics

In [3]:
dataset = pd.read_csv("../data/raw/cleaned_joined_static_x.csv.gz", compression='gzip')
dataset.head(2)

C:\Users\tharaka_50498.DIALOG\AppData\Local\Temp\1\ipykernel_17200\318835666.py:1: DtypeWarning: Columns (24,49,50,57,60,61,88,150,171,172,173,174,175,177,178,184,185,186,205,206,216,217,218,219,220) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("../data/raw/cleaned_joined_static_x.csv.gz", compression='gzip')

,case_id,date_decision,MONTH,WEEK_NUM,target,actualdpdtolerance_344P,amtinstpaidbefduel24m_4187115A,annuity_780A,annuitynextmonth_57A,applicationcnt_361L,...,pmtscount_423L,pmtssum_45A,requesttype_4525192L,responsedate_1012D,responsedate_4527233D,responsedate_4917613D,riskassesment_302T,riskassesment_940T,secondquarter_766L,thirdquarter_1082L
0,0,2019-01-03,201901,0,0,NaN,NaN,1917.6,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-03,201901,0,0,NaN,NaN,3134.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset_num = dataset.select_dtypes(include='number').fillna(0)
dataset_num.head(2)

,case_id,MONTH,WEEK_NUM,target,actualdpdtolerance_344P,amtinstpaidbefduel24m_4187115A,annuity_780A,annuitynextmonth_57A,applicationcnt_361L,applications30d_658L,...,pmtaverage_4527227A,pmtaverage_4955615A,pmtcount_4527229L,pmtcount_4955617L,pmtcount_693L,pmtscount_423L,pmtssum_45A,riskassesment_940T,secondquarter_766L,thirdquarter_1082L
0,0,201901,0,0,0.0,0.0,1917.6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,201901,0,0,0.0,0.0,3134.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Label separation

In [5]:
labels = dataset_num['target'].values
samples = dataset_num.drop(columns=['target', 'case_id', 'MONTH', 'WEEK_NUM'])

Apply PCA

In [6]:
# standardizing for PCA
st_scaler = StandardScaler()
X = st_scaler.fit_transform(samples.values)
X[0:2]

array([[-6.02461529e-03, -5.61584324e-01, -7.05648435e-01,
        -5.11493499e-01, -2.65756420e-03, -2.82714276e-01,
        -1.35708149e-01, -1.10498411e-01, -1.09046784e-01,
        -6.62689471e-01, -7.31555489e-02, -4.93321085e-02,
        -5.72868138e-02, -1.19424987e-01, -5.61811387e-01,
        -2.36743065e-01, -1.09831481e-01, -4.24847336e-01,
        -3.44463344e-01, -4.70643880e-02, -3.37861010e-02,
        -3.49405411e-02, -1.14100235e-01, -8.76171050e-02,
        -1.77621676e-01, -1.24431979e-01, -2.59565920e-03,
        -1.02258895e-01, -4.91697755e-02, -6.10140207e-02,
        -5.04054214e-02, -1.21969740e-02, -2.67601372e-01,
        -6.03071829e-02, -1.07565695e-01, -7.35748250e-01,
        -9.04954305e-01,  0.00000000e+00, -4.49717182e-01,
        -3.87179880e-01, -2.98892458e-01, -1.66936173e-01,
         0.00000000e+00, -3.78181154e-01, -1.34700035e-01,
         9.78540379e-01, -7.48968839e-01, -2.56799969e-01,
         9.35649629e-01,  0.00000000e+00, -7.40465761e-01,
        -6.77409786e-02, -9.83408771e-03, -1.95073129e-02,
        -5.58906508e-01, -9.35510680e-01,  0.00000000e+00,
         0.00000000e+00, -3.21489088e-01, -9.77500357e-02,
        -5.88254823e-02, -9.08138130e-02, -7.25979259e-02,
        -7.50956766e-01, -1.15283464e-01, -6.52646490e-01,
        -7.70043683e-02, -1.01936857e-01, -4.32191905e-02,
        -5.66557723e-02, -6.77822501e-02, -1.67205141e-01,
        -4.33826102e-01, -4.81482068e-01, -5.23122702e-01,
        -2.46497191e-01,  8.78444788e-04,  2.72098848e-03,
        -6.81915389e-01, -8.05036463e-01, -6.64352714e-01,
        -3.12970596e-01, -5.15930030e-01, -3.42927922e-01,
        -7.26225276e-01, -6.19767809e-01, -4.94008404e-01,
        -6.91097502e-01, -2.65557277e-01, -3.57261204e-01,
        -7.14381968e-01, -4.71771836e-01, -5.30660187e-01,
        -6.19961747e-01, -4.64914110e-01, -4.19163747e-01,
        -4.31387011e-01, -4.31640167e-01, -5.73915530e-01,
        -4.34198810e-01, -7.26778029e-01, -5.02594420e-01,
        -6.94361037e-01, -5.33986976e-01, -4.67222944e-01,
        -3.53456278e-01, -4.83065355e-01, -3.65407402e-01,
        -1.38028636e-01, -1.50746429e-01, -2.95418073e-01,
        -1.04543385e+00, -3.98374982e-01, -5.99694357e-01,
        -4.75336878e-01, -4.39788911e-01,  7.38113127e-01,
        -1.24666995e-01, -8.60723449e-02, -1.66273822e-01,
        -8.62652270e-01, -3.61677047e-01, -7.83808027e-01,
        -3.86431819e-01, -2.96316720e-01, -3.87187939e-01,
        -5.68192913e-01, -2.68719466e-01, -1.78579263e-01,
        -7.15902345e-01, -7.63444723e-01, -5.40289226e-01,
        -8.47704708e-01, -6.80362811e-01, -7.33773939e-01,
        -1.40181284e-03, -9.34797349e-02, -1.30233348e-02,
         0.00000000e+00, -2.91811568e-03, -6.26606330e-02,
        -4.42394119e-03,  0.00000000e+00, -7.30276044e-02,
        -2.96511700e-02, -1.14457501e-03, -4.57605472e-02,
         0.00000000e+00, -1.14457501e-03, -6.55708134e-03,
        -8.74199659e-02, -7.67486020e-01, -8.47704708e-01,
        -2.72843708e-01, -2.48423471e-01, -2.06417960e-01,
        -2.69785088e-01, -2.19910082e-01, -3.09872282e-01,
        -5.76248833e-01, -3.86671878e-01, -4.22793100e-02,
        -7.48178713e-01, -7.86109245e-01],
       [-6.02461529e-03, -5.61584324e-01, -3.01072731e-01,
        -5.11493499e-01, -2.65756420e-03, -2.82714276e-01,
        -1.35708149e-01, -1.10498411e-01, -1.09046784e-01,
        -6.62689471e-01, -7.31555489e-02, -4.93321085e-02,
        -5.72868138e-02, -1.19424987e-01, -5.61811387e-01,
        -2.36743065e-01, -1.09831481e-01, -4.24847336e-01,
        -3.44463344e-01, -4.70643880e-02, -3.37861010e-02,
        -3.49405411e-02, -1.14100235e-01, -8.76171050e-02,
        -1.77621676e-01, -1.24431979e-01, -2.59565920e-03,
         3.79342810e+00, -4.91697755e-02, -6.10140207e-02,
        -5.04054214e-02, -1.21969740e-02, -2.67601372e-01,
        -6.03071829e-02, -1.07565695e-01, -7.35748250e-01,
        -9.04954305e-01,  0.00000000e+00, -6.76049622e-01,
        -3.87179880e-01, -2.98892458e-01, -1.66936173e-01,
         0.00000000e+00, -6.13449922e-01, -1.34700035e-01,
         1.73835555e-01, -7.48968839e-01, -2.56799969e-01,
         1.23316167e-01,  0.00000000e+00, -7.40465761e-01,
        -6.77409786e-02, -9.83408771e-03, -1.95073129e-02,
        -5.58906508e-01, -9.35510680e-01,  0.00000000e+00,
         0.00000000e+00, -3.21489088e-01, -9.77500357e-02,
        -5.88254823e-02, -9.08138130e-02, -7.25979259e-02,
        -7.50956766e-01, -1.15283464e-01, -6.52646490e-01,
        -7.70043683e-02, -1.01936857e-01, -4.32191905e-02,
        -5.66557723e-02, -6.77822501e-02, -1.67205141e-01,
        -4.33826102e-01, -4.81482068e-01, -5.23122702e-01,
        -2.46497191e-01,  8.78444788e-04,  2.72098848e-03,
        -6.81915389e-01, -8.05036463e-01, -6.64352714e-01,
        -3.12970596e-01, -5.15930030e-01, -3.42927922e-01,
        -7.26225276e-01, -6.19767809e-01, -4.94008404e-01,
        -6.91097502e-01, -2.65557277e-01, -3.57261204e-01,
        -7.14381968e-01, -4.71771836e-01, -5.30660187e-01,
        -6.19961747e-01, -4.64914110e-01, -4.19163747e-01,
        -4.31387011e-01, -4.31640167e-01, -5.73915530e-01,
        -4.34198810e-01, -7.26778029e-01, -5.02594420e-01,
        -6.94361037e-01, -5.33986976e-01, -4.67222944e-01,
        -3.53456278e-01, -4.83065355e-01, -3.65407402e-01,
        -1.38028636e-01, -1.50746429e-01, -2.95418073e-01,
        -1.04543385e+00, -3.98374982e-01, -5.99694357e-01,
        -4.75336878e-01, -4.39788911e-01,  1.41954692e-01,
        -1.24666995e-01, -8.60723449e-02, -1.66273822e-01,
        -8.62652270e-01, -3.61677047e-01, -7.83808027e-01,
        -3.86431819e-01, -2.96316720e-01, -3.87187939e-01,
        -5.68192913e-01, -2.68719466e-01, -1.78579263e-01,
        -7.15902345e-01, -7.63444723e-01, -5.40289226e-01,
        -8.47704708e-01, -6.80362811e-01, -7.33773939e-01,
        -1.40181284e-03, -9.34797349e-02, -1.30233348e-02,
         0.00000000e+00, -2.91811568e-03, -6.26606330e-02,
        -4.42394119e-03,  0.00000000e+00, -7.30276044e-02,
        -2.96511700e-02, -1.14457501e-03, -4.57605472e-02,
         0.00000000e+00, -1.14457501e-03, -6.55708134e-03,
        -8.74199659e-02, -7.67486020e-01, -8.47704708e-01,
        -2.72843708e-01, -2.48423471e-01, -2.06417960e-01,
        -2.69785088e-01, -2.19910082e-01, -3.09872282e-01,
        -5.76248833e-01, -3.86671878e-01, -4.22793100e-02,
        -7.48178713e-01, -7.86109245e-01]])

In [7]:
REQUIRED_VARIANCE = 0.85

In [8]:
pca = PCA(n_components=REQUIRED_VARIANCE, svd_solver='full')
X_pca = pca.fit_transform(X)

In [9]:
X_pca.shape, labels.shape

((1526659, 55), (1526659,))

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X_pca, labels, test_size=0.2)

Fixing class imbalance

In [12]:
Counter(y_train)

Counter({0: 1182921, 1: 38406})

In [14]:
smote = SMOTE(sampling_strategy=1.0)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

In [15]:
X_train_res.shape, y_train_res.shape

((2365842, 55), (2365842,))

In [16]:
Counter(y_train_res)

Counter({0: 1182921, 1: 1182921})