In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv('../data/raw/cleaned_joined_static_x.csv.gz', compression='gzip')
print(df_raw.shape)
df_raw.head()

C:\Users\tharaka_50498.DIALOG\AppData\Local\Temp\1\ipykernel_2504\1402481.py:1: DtypeWarning: Columns (24,49,50,57,60,61,88,150,171,172,173,174,175,177,178,184,185,186,205,206,216,217,218,219,220) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv('../data/raw/cleaned_joined_static_x.csv.gz', compression='gzip')

(1526659, 224)

,case_id,date_decision,MONTH,WEEK_NUM,target,actualdpdtolerance_344P,amtinstpaidbefduel24m_4187115A,annuity_780A,annuitynextmonth_57A,applicationcnt_361L,...,pmtscount_423L,pmtssum_45A,requesttype_4525192L,responsedate_1012D,responsedate_4527233D,responsedate_4917613D,riskassesment_302T,riskassesment_940T,secondquarter_766L,thirdquarter_1082L
0,0,2019-01-03,201901,0,0,NaN,NaN,1917.6,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-03,201901,0,0,NaN,NaN,3134.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-01-04,201901,0,0,NaN,NaN,4937.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-01-03,201901,0,0,NaN,NaN,4643.6,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-01-04,201901,0,1,NaN,NaN,3390.2,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Missing Data Handeling

In [3]:
base_cols = [ 'case_id','date_decision','MONTH','WEEK_NUM','target']
sel_non_imputated_cols = ['actualdpdtolerance_344P','amtinstpaidbefduel24m_4187115A','annuity_780A','annuitynextmonth_57A','applicationcnt_361L','applications30d_658L','applicationscnt_1086L','applicationscnt_464L','applicationscnt_629L','applicationscnt_867L','avgdbddpdlast24m_3658932P','avgdbddpdlast3m_4187120P','avgdbdtollast24m_4525197P','avgdpdtolclosure24_3658938P','avginstallast24m_3658937A','avgmaxdpdlast9m_3716943P','avgoutstandbalancel6m_4187114A','avgpmtlast12m_4525200A','clientscnt_100L','clientscnt_1022L','clientscnt_1071L','clientscnt_1130L','clientscnt_157L','clientscnt_257L','clientscnt_304L','clientscnt_360L','clientscnt_493L','clientscnt_533L','clientscnt_887L','clientscnt_946L','clientscnt12m_3712952L','clientscnt3m_3712950L','clientscnt6m_3712949L','credamount_770A','credtype_322L','currdebt_22A','currdebtcredtyperange_828A','daysoverduetolerancedd_3976961L','deferredmnthsnum_166L','disbursedcredamount_1113A','disbursementtype_67L','downpmt_116A','isbidproduct_1095L','lastapprcommoditycat_1041M','lastapprcommoditytypec_5251766M','lastcancelreason_561M','lastrejectcommoditycat_161M','lastrejectcommodtypec_5251769M','lastrejectreason_759M','lastrejectreasonclient_4145040M','mobilephncnt_593L','numactivecreds_622L','numactivecredschannel_414L','numactiverelcontr_750L','numcontrs3months_479L','numnotactivated_1143L','numpmtchanneldd_318L','numrejects9m_859L','previouscontdistrict_112M','sellerplacecnt_915L','sellerplacescnt_216L']
sel_imputated_cols = ['bankacctype_710L','cardtype_51L','cntincpaycont9m_3716944L','cntpmts24_3658933L','commnoinclast6m_3546845L','eir_270L','inittransactioncode_186L','interestrate_311L','lastapprcredamount_781A','lastrejectcredamount_222A','lastst_736L','maininc_215A','maxannuity_159A','maxdbddpdtollast6m_4187119P','numinstls_657L','numinstlsallpaid_934L','numinstpaidearly_338L','numinstregularpaid_973L','numinsttopaygr_769L','numinstunpaidmax_3546851L','opencred_647L','pmtnum_254L','posfpd30lastmonth_3976960P','price_1097A','sumoutstandtotal_3546847A','totaldebt_9A','totalsettled_863A']
imputate_with_zero_cols = ['daysoverduetolerancedd_3976961L','avgpmtlast12m_4525200A','avgoutstandbalancel6m_4187114A','avgmaxdpdlast9m_3716943P','avginstallast24m_3658937A','avgdpdtolclosure24_3658938P','avgdbdtollast24m_4525197P','avgdbddpdlast3m_4187120P','avgdbddpdlast24m_3658932P','amtinstpaidbefduel24m_4187115A','actualdpdtolerance_344P','cntincpaycont9m_3716944L','cntpmts24_3658933L','commnoinclast6m_3546845L','lastapprcredamount_781A','lastrejectcredamount_222A','maininc_215A','maxannuity_159A','numinstls_657L','numinstlsallpaid_934L','numinstpaidearly_338L','numinstregularpaid_973L','numinsttopaygr_769L','numinstunpaidmax_3546851L','pmtnum_254L','posfpd30lastmonth_3976960P','price_1097A','sumoutstandtotal_3546847A','totaldebt_9A','totalsettled_863A']

In [4]:
len(base_cols) + len(sel_non_imputated_cols) + len(sel_imputated_cols) + len(imputate_with_zero_cols)

123

These 123 columns are the final selected columns

In [5]:
def impute_with_zero(column):
    df_raw[column] = df_raw[column].fillna(0.0)
    
# imputation with zero
impute_with_zero(imputate_with_zero_cols)

# manual imputation

# bankacctype_710L
df_raw['bankacctype_710L'] = df_raw['bankacctype_710L'].fillna('NA')

# cardtype_51L
df_raw['cardtype_51L'] = df_raw['cardtype_51L'].fillna('NOCARD')

# eir_270L
df_raw['eir_270L'] = df_raw['eir_270L'].fillna(0.2)

# inittransactioncode_186L
df_raw['inittransactioncode_186L'] = df_raw['inittransactioncode_186L'].fillna(df_raw['inittransactioncode_186L'].mode()[0])

# interestrate_311L
df_raw['interestrate_311L'] = df_raw['interestrate_311L'].fillna(df_raw['interestrate_311L'].mean())

# lastst_736L
df_raw['lastst_736L'] = df_raw['lastst_736L'].fillna(df_raw['lastst_736L'].mode()[0])

# opencred_647L
df_raw['opencred_647L'] = df_raw['opencred_647L'].fillna(df_raw['opencred_647L'].mode()[0])

In [6]:
# selected columns for the final dataframe
final_cols = base_cols + sel_imputated_cols + sel_non_imputated_cols + imputate_with_zero_cols
print('Column count', len(final_cols))
cleaned_frame = df_raw[final_cols]

Column count 123

In [7]:
cleaned_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1526659 entries, 0 to 1526658
Columns: 123 entries, case_id to totalsettled_863A
dtypes: bool(2), float64(102), int64(4), object(15)
memory usage: 1.4+ GB

In [8]:
cleaned_frame.head()

,case_id,date_decision,MONTH,WEEK_NUM,target,bankacctype_710L,cardtype_51L,cntincpaycont9m_3716944L,cntpmts24_3658933L,commnoinclast6m_3546845L,...,numinstpaidearly_338L,numinstregularpaid_973L,numinsttopaygr_769L,numinstunpaidmax_3546851L,pmtnum_254L,posfpd30lastmonth_3976960P,price_1097A,sumoutstandtotal_3546847A,totaldebt_9A,totalsettled_863A
0,0,2019-01-03,201901,0,0,NA,NOCARD,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0
1,1,2019-01-03,201901,0,0,NA,NOCARD,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0
2,2,2019-01-04,201901,0,0,NA,NOCARD,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,36.0,0.0,0.0,0.0,0.0,0.0
3,3,2019-01-03,201901,0,0,NA,NOCARD,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0
4,4,2019-01-04,201901,0,1,NA,NOCARD,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0

In [9]:
cleaned_frame.shape

(1526659, 123)

In [11]:
cleaned_frame.to_csv('../data/processed/preprocessed.csv', index=False)