In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv('../data/raw/cleaned_joined_static_x.csv.gz', compression='gzip')
print(df_raw.shape)
df_raw.head()

C:\Users\tharaka_50498.DIALOG\AppData\Local\Temp\1\ipykernel_11692\1402481.py:1: DtypeWarning: Columns (24,49,50,57,60,61,88,150,171,172,173,174,175,177,178,184,185,186,205,206,216,217,218,219,220) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv('../data/raw/cleaned_joined_static_x.csv.gz', compression='gzip')

(1526659, 224)

,case_id,date_decision,MONTH,WEEK_NUM,target,actualdpdtolerance_344P,amtinstpaidbefduel24m_4187115A,annuity_780A,annuitynextmonth_57A,applicationcnt_361L,...,pmtscount_423L,pmtssum_45A,requesttype_4525192L,responsedate_1012D,responsedate_4527233D,responsedate_4917613D,riskassesment_302T,riskassesment_940T,secondquarter_766L,thirdquarter_1082L
0,0,2019-01-03,201901,0,0,NaN,NaN,1917.6,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-03,201901,0,0,NaN,NaN,3134.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-01-04,201901,0,0,NaN,NaN,4937.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-01-03,201901,0,0,NaN,NaN,4643.6,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-01-04,201901,0,1,NaN,NaN,3390.2,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_raw.columns

Index(['case_id', 'date_decision', 'MONTH', 'WEEK_NUM', 'target',
       'actualdpdtolerance_344P', 'amtinstpaidbefduel24m_4187115A',
       'annuity_780A', 'annuitynextmonth_57A', 'applicationcnt_361L',
       ...
       'pmtscount_423L', 'pmtssum_45A', 'requesttype_4525192L',
       'responsedate_1012D', 'responsedate_4527233D', 'responsedate_4917613D',
       'riskassesment_302T', 'riskassesment_940T', 'secondquarter_766L',
       'thirdquarter_1082L'],
      dtype='object', length=224)

In [4]:
# Using filter() function
matching_items = list(filter(lambda x: 'date' in x, df_raw.columns))
matching_items

['date_decision',
 'datefirstoffer_1144D',
 'datelastinstal40dpd_247D',
 'datelastunpaid_3546854D',
 'firstdatedue_489D',
 'lastactivateddate_801D',
 'lastapplicationdate_877D',
 'lastapprdate_640D',
 'lastdelinqdate_224D',
 'lastrejectdate_50D',
 'lastrepayingdate_696D',
 'maxdpdinstldate_3546855D',
 'assignmentdate_238D',
 'assignmentdate_4527235D',
 'assignmentdate_4955616D',
 'birthdate_574D',
 'dateofbirth_337D',
 'dateofbirth_342D',
 'responsedate_1012D',
 'responsedate_4527233D',
 'responsedate_4917613D']

In [5]:
total_length = len(df_raw)

for col in matching_items:
    non_null_count = df_raw[col].notnull().sum()
    percentage = (non_null_count / total_length) * 100
    print(f"{col}: {non_null_count} ({percentage:.2f}%)")

date_decision: 1526659 (100.00%)
datefirstoffer_1144D: 692924 (45.39%)
datelastinstal40dpd_247D: 133818 (8.77%)
datelastunpaid_3546854D: 639000 (41.86%)
firstdatedue_489D: 1044556 (68.42%)
lastactivateddate_801D: 1073072 (70.29%)
lastapplicationdate_877D: 1221522 (80.01%)
lastapprdate_640D: 1084618 (71.05%)
lastdelinqdate_224D: 548684 (35.94%)
lastrejectdate_50D: 757613 (49.63%)
lastrepayingdate_696D: 2377 (0.16%)
maxdpdinstldate_3546855D: 700659 (45.89%)
assignmentdate_238D: 136996 (8.97%)
assignmentdate_4527235D: 114978 (7.53%)
assignmentdate_4955616D: 71633 (4.69%)
birthdate_574D: 607871 (39.82%)
dateofbirth_337D: 1385691 (90.77%)
dateofbirth_342D: 36500 (2.39%)
responsedate_1012D: 720000 (47.16%)
responsedate_4527233D: 660327 (43.25%)
responsedate_4917613D: 224912 (14.73%)

In [6]:
test = df_raw[['target','datelastunpaid_3546854D']]

In [7]:
test[test['target']==1]['datelastunpaid_3546854D'].isna().sum()

20763

* If datelastunpaid_3546854D is null, datelastunpaid_3546854D = date_decision
* date_delta = (date_decision_max - datelastunpaid_3546854D)

Missing Data Handeling

In [8]:
base_cols = [ 'case_id','date_decision','MONTH','WEEK_NUM','target']
sel_non_imputated_cols = ['actualdpdtolerance_344P','amtinstpaidbefduel24m_4187115A','annuity_780A','annuitynextmonth_57A','applicationcnt_361L','applications30d_658L','applicationscnt_1086L','applicationscnt_464L','applicationscnt_629L','applicationscnt_867L','avgdbddpdlast24m_3658932P','avgdbddpdlast3m_4187120P','avgdbdtollast24m_4525197P','avgdpdtolclosure24_3658938P','avginstallast24m_3658937A','avgmaxdpdlast9m_3716943P','avgoutstandbalancel6m_4187114A','avgpmtlast12m_4525200A','clientscnt_100L','clientscnt_1022L','clientscnt_1071L','clientscnt_1130L','clientscnt_157L','clientscnt_257L','clientscnt_304L','clientscnt_360L','clientscnt_493L','clientscnt_533L','clientscnt_887L','clientscnt_946L','clientscnt12m_3712952L','clientscnt3m_3712950L','clientscnt6m_3712949L','credamount_770A','credtype_322L','currdebt_22A','currdebtcredtyperange_828A','daysoverduetolerancedd_3976961L','deferredmnthsnum_166L','disbursedcredamount_1113A','disbursementtype_67L','downpmt_116A','isbidproduct_1095L','lastapprcommoditycat_1041M','lastapprcommoditytypec_5251766M','lastcancelreason_561M','lastrejectcommoditycat_161M','lastrejectcommodtypec_5251769M','lastrejectreason_759M','lastrejectreasonclient_4145040M','mobilephncnt_593L','numactivecreds_622L','numactivecredschannel_414L','numactiverelcontr_750L','numcontrs3months_479L','numnotactivated_1143L','numpmtchanneldd_318L','numrejects9m_859L','previouscontdistrict_112M','sellerplacecnt_915L','sellerplacescnt_216L']
sel_imputated_cols = ['datelastunpaid_3546854D','bankacctype_710L','cardtype_51L','cntincpaycont9m_3716944L','cntpmts24_3658933L','commnoinclast6m_3546845L','eir_270L','inittransactioncode_186L','interestrate_311L','lastapprcredamount_781A','lastrejectcredamount_222A','lastst_736L','maininc_215A','maxannuity_159A','maxdbddpdtollast6m_4187119P','numinstls_657L','numinstlsallpaid_934L','numinstpaidearly_338L','numinstregularpaid_973L','numinsttopaygr_769L','numinstunpaidmax_3546851L','opencred_647L','pmtnum_254L','posfpd30lastmonth_3976960P','price_1097A','sumoutstandtotal_3546847A','totaldebt_9A','totalsettled_863A']
imputate_with_zero_cols = ['daysoverduetolerancedd_3976961L','avgpmtlast12m_4525200A','avgoutstandbalancel6m_4187114A','avgmaxdpdlast9m_3716943P','avginstallast24m_3658937A','avgdpdtolclosure24_3658938P','avgdbdtollast24m_4525197P','avgdbddpdlast3m_4187120P','avgdbddpdlast24m_3658932P','amtinstpaidbefduel24m_4187115A','actualdpdtolerance_344P','cntincpaycont9m_3716944L','cntpmts24_3658933L','commnoinclast6m_3546845L','lastapprcredamount_781A','lastrejectcredamount_222A','maininc_215A','maxannuity_159A','numinstls_657L','numinstlsallpaid_934L','numinstpaidearly_338L','numinstregularpaid_973L','numinsttopaygr_769L','numinstunpaidmax_3546851L','pmtnum_254L','posfpd30lastmonth_3976960P','price_1097A','sumoutstandtotal_3546847A','totaldebt_9A','totalsettled_863A']

In [9]:
len(base_cols) + len(sel_non_imputated_cols) + len(sel_imputated_cols) + len(imputate_with_zero_cols)

124

These 123 columns are the final selected columns

In [10]:
def impute_with_zero(column):
    df_raw[column] = df_raw[column].fillna(0.0)
    
# imputation with zero
impute_with_zero(imputate_with_zero_cols)

# manual imputation

# datelastunpaid_3546854D
df_raw['datelastunpaid_3546854D'] = df_raw['datelastunpaid_3546854D'].fillna(df_raw['date_decision'])

# bankacctype_710L
df_raw['bankacctype_710L'] = df_raw['bankacctype_710L'].fillna('NA')

# cardtype_51L
df_raw['cardtype_51L'] = df_raw['cardtype_51L'].fillna('NOCARD')

# eir_270L
df_raw['eir_270L'] = df_raw['eir_270L'].fillna(0.2)

# inittransactioncode_186L
df_raw['inittransactioncode_186L'] = df_raw['inittransactioncode_186L'].fillna(df_raw['inittransactioncode_186L'].mode()[0])

# interestrate_311L
df_raw['interestrate_311L'] = df_raw['interestrate_311L'].fillna(df_raw['interestrate_311L'].mean())

# lastst_736L
df_raw['lastst_736L'] = df_raw['lastst_736L'].fillna(df_raw['lastst_736L'].mode()[0])

# opencred_647L
df_raw['opencred_647L'] = df_raw['opencred_647L'].fillna(df_raw['opencred_647L'].mode()[0])

In [11]:
# selected columns for the final dataframe
final_cols = base_cols + sel_imputated_cols + sel_non_imputated_cols + imputate_with_zero_cols
print('Column count', len(final_cols))
cleaned_frame = df_raw[final_cols]

Column count 124

In [12]:
cleaned_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1526659 entries, 0 to 1526658
Columns: 124 entries, case_id to totalsettled_863A
dtypes: bool(2), float64(102), int64(4), object(16)
memory usage: 1.4+ GB

In [13]:
cleaned_frame.head()

,case_id,date_decision,MONTH,WEEK_NUM,target,datelastunpaid_3546854D,bankacctype_710L,cardtype_51L,cntincpaycont9m_3716944L,cntpmts24_3658933L,...,numinstpaidearly_338L,numinstregularpaid_973L,numinsttopaygr_769L,numinstunpaidmax_3546851L,pmtnum_254L,posfpd30lastmonth_3976960P,price_1097A,sumoutstandtotal_3546847A,totaldebt_9A,totalsettled_863A
0,0,2019-01-03,201901,0,0,2019-01-03,NA,NOCARD,0.0,0.0,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0
1,1,2019-01-03,201901,0,0,2019-01-03,NA,NOCARD,0.0,0.0,...,0.0,0.0,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0
2,2,2019-01-04,201901,0,0,2019-01-04,NA,NOCARD,0.0,0.0,...,0.0,0.0,0.0,0.0,36.0,0.0,0.0,0.0,0.0,0.0
3,3,2019-01-03,201901,0,0,2019-01-03,NA,NOCARD,0.0,0.0,...,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0
4,4,2019-01-04,201901,0,1,2019-01-04,NA,NOCARD,0.0,0.0,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0

In [14]:
cleaned_frame['date_decision'] = pd.to_datetime(cleaned_frame['date_decision'])
cleaned_frame['datelastunpaid_3546854D'] = pd.to_datetime(cleaned_frame['datelastunpaid_3546854D'])

C:\Users\tharaka_50498.DIALOG\AppData\Local\Temp\1\ipykernel_11692\762734398.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_frame['date_decision'] = pd.to_datetime(cleaned_frame['date_decision'])
C:\Users\tharaka_50498.DIALOG\AppData\Local\Temp\1\ipykernel_11692\762734398.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_frame['datelastunpaid_3546854D'] = pd.to_datetime(cleaned_frame['datelastunpaid_3546854D'])

In [15]:
cleaned_frame['datelastunpaid_3546854D'].max()

Timestamp('2020-10-18 00:00:00')

In [16]:
# add time_delta ----> date_decision_max - datelastunpaid

date_decision_max = cleaned_frame['date_decision'].max()
cleaned_frame['time_delta'] = (date_decision_max - cleaned_frame['datelastunpaid_3546854D']).dt.total_seconds() / 3600

C:\Users\tharaka_50498.DIALOG\AppData\Local\Temp\1\ipykernel_11692\2241679562.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_frame['time_delta'] = (date_decision_max - cleaned_frame['datelastunpaid_3546854D']).dt.total_seconds() / 3600

In [17]:
cleaned_frame[cleaned_frame['time_delta']==15384.0]['target'].value_counts()

target
0    2049
1      51
Name: count, dtype: int64

In [18]:
cleaned_frame.shape

(1526659, 125)

In [19]:
cleaned_frame.head()

,case_id,date_decision,MONTH,WEEK_NUM,target,datelastunpaid_3546854D,bankacctype_710L,cardtype_51L,cntincpaycont9m_3716944L,cntpmts24_3658933L,...,numinstregularpaid_973L,numinsttopaygr_769L,numinstunpaidmax_3546851L,pmtnum_254L,posfpd30lastmonth_3976960P,price_1097A,sumoutstandtotal_3546847A,totaldebt_9A,totalsettled_863A,time_delta
0,0,2019-01-03,201901,0,0,2019-01-03,NA,NOCARD,0.0,0.0,...,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0,15384.0
1,1,2019-01-03,201901,0,0,2019-01-03,NA,NOCARD,0.0,0.0,...,0.0,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,15384.0
2,2,2019-01-04,201901,0,0,2019-01-04,NA,NOCARD,0.0,0.0,...,0.0,0.0,0.0,36.0,0.0,0.0,0.0,0.0,0.0,15360.0
3,3,2019-01-03,201901,0,0,2019-01-03,NA,NOCARD,0.0,0.0,...,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,15384.0
4,4,2019-01-04,201901,0,1,2019-01-04,NA,NOCARD,0.0,0.0,...,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0,15360.0

In [20]:
cleaned_frame.to_csv('../data/processed/preprocessed.csv.gz', compression='gzip', index=False)